html, body {
    background-color: #777777;
    padding: 0px;
    border: 0px;
    margin: 0px;
    height: 100%;
    font-size: 16px;
    // font-family: Consolas, Inconsolata, monospace;
    font-family: Helvetica, Arial, sans-serif;
    user-select: none;
    overflow: hidden;
}

.sidebar {
    background-color: #777777;
    height: 100%;
    width: 400px;
    float: left;
    overflow-y: scroll;
}

.playground {
    background-color: #ffffff;
    height: 100%;
}
    
.demoblock {
    background-color: #0099ff;
    color: white;
    // height: 160px;
    width: 160px;
    padding: 20px;
    margin: 20px;
    top: 100px;
    left: 200px;
}

.block {
    position: absolute;
    background-color: #0099ff;
    color: white;
    // height: 160px;
    width: 160px;
    padding: 20px;
    top: 100px;
    left: 200px;
}

.sidebar::-webkit-scrollbar {
    background-color: #888888;
    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #eeeeee;
    width: 8px;
}
